
<h1><%= @artist.name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Biography: <%= @artist.bio %></p>

<ul id="songlist">
<p>Songs: <% @artist.songs.each do |song| %></p>

<li class="song">
  <%= song.name %>
  <%= button_tag "Delete Song", onclick: 'deleteSong(' + @artist.id.to_s + ', ' + song.id.to_s + ')' %></li>

<p><% end %></p>
</ul>
<p><%= image_tag @artist.photo.image %></p>

<%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<%= button_tag "Delete All Songs" %></p>

<h1>New song</h1>

<%= render 'songs/form' %>
