
<h1><%= @artist.name %></h1>

<p>Age: <%= @artist.age %></p>
<p>Biography: <%= @artist.bio %></p>
<p>Songs: <% @artist.songs.each do |song| %></p>
<p><%= song.name %>
  <%= link_to "Delete Song", song_path(song.id), method: :delete, data: { confirm: "Are you sure?" } %></p>

<p><% end %></p>
<p><%= image_tag @artist.photo.image %></p>

<%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Add Song", new_song_path(:id => @artist.id) %>

<h1>New song</h1>

<%= form_for @song do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :required => 'required' %>
  <%= f.hidden_field :artist_id, :value => @artist.id %>
  <%= f.submit "Create" %>
<% end %>
